@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@font-face{
    font-family: 'Gilroy-Light';
    src: url('Gilroy-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Gilroy-Light';
    font-weight: bold;
    src: url('Gilroy-ExtraBold.otf') format('opentype');
}

html {
    background-color: white;
}

body {
    background-color: black;
    height: 100vh;

}

.main{
    padding-top: 100px;
}

.cnLogo{
    height: 55px;
    position: absolute;
    z-index: 10;
    margin-top: -80px;
    margin-left: -70px;;
}

.hideScroll {
    overflow-y: hidden;
}

.numbers{
    font-size: 2000%;
    font-family: 'Gilroy-Light';
    font-weight: bold;
    padding-top: 0;
    margin-top:0;
    line-height: 100%;
    margin-left: 0;
    opacity: 0.4;
    color:#F6B32E;
    
}
.numbers2{
    opacity: 0.4;
    margin-bottom: -30px;
    margin-left: -10px;
}

.wrapper {
    background-color: black;
    width: 100%;
    
    height: 1000px;
    position: relative;
}

.info1 {
    height: 100px;
}


.st0 {
    fill: #FFFFFF;
    stroke: #FFFFFF;
    stroke-miterlimit: 10;


}

.st1 {
    fill: #F6B32E;

}

.st2 {
    fill: #FFFFFF;
    stroke: #FFFFFF;
    stroke-miterlimit: 10;

}

.move {
    transform: translateX(27%);
}

.moveBack {
    transform: translateX(27%);
}

.hammy{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    margin-top: 20px !important;
    margin-left: 20px !important;
}

.hideMe {
    display: none !important;
}

.clickBox {
    fill: transparent;
    stroke: none;
}



@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

.animate-flicker {
    -webkit-animation: flickerAnimation 2s infinite;
    -moz-animation: flickerAnimation 2s infinite;
    -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}

@keyframes move-across {
    from {
        transform: translateX(27%);
    }

    to {
        transform: translateX(0.8%);
    }
}

@-o-keyframes move-across {
    from {
        transform: translateX(27%);
    }

    to {
        transform: translateX(0.8%);
    }
}

@-moz-keyframes move-across {
    from {
        transform: translateX(27%);
    }

    to {
        transform: translateX(0.8%);
    }
}

@-webkit-keyframes move-across {
    from {
        transform: translateX(27%);
    }

    to {
        transform: translateX(0.8%);
    }
}

.moveAcross {
    -webkit-animation: move-across 0.8s ease-in-out;
    -moz-animation: move-across 0.8s ease-in-out;
    -o-animation: move-across 0.8s ease-in-out;
    animation: move-across 0.8s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes moveR {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(31.5%);
    }
}

@-o-keyframes moveR {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(31.5%);
    }
}

@-moz-keyframes moveR {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(31.5%);
    }
}

@-webkit-keyframes moveR {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(31.5%);
    }
}

.moveTogetherR {
    -webkit-animation: moveR 1s ease-in-out;
    -moz-animation: moveR 1s ease-in-out;
    -o-animation: moveR 1s ease-in-out;
    animation: moveR 1s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes moveL {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-31.5%);
    }
}

@-o-keyframes moveL {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-31.5%);
    }
}

@-moz-keyframes moveL {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-31.5%);
    }
}

@-webkit-keyframes moveL {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-31.5%);
    }
}

.moveTogetherL {
    -webkit-animation: moveL 1s ease-in-out;
    -moz-animation: moveL 1s ease-in-out;
    -o-animation: moveL 1s ease-in-out;
    animation: moveL 1s ease-in-out;
    animation-fill-mode: forwards;
}


.title {
    color: white;
    font-size: 250px;
    text-align: center;
    padding: 0 0;
    margin: 0 0;
}
.lab{
    font-family: 'Gilroy-Light';
}

.svgContainer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 350px;
    margin-top: 200px;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;


}

.stick {
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}

svg {
    width: auto;
    height: 100%;
    padding: 0 33%;
    z-index: 100;


}

.header {
    position: absolute;
    width: 200px;
    left: 0;
    right: 0;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;

}

.logOn {
    width: 200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 50px;
}

.scrollBar {
    position: fixed;
    width: 200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    bottom: 0;

}

.scrollMe {
    margin: 0 auto;
    bottom: 0;

}

.slide {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transform: translateY(-200%);
    -webkit-animation: disappear 1s;
    -moz-animation: disappear 1s;
    -o-animation: disappear 1s;
    animation: disappear 1s;
    animation-fill-mode: forwards;

}

.hidethis {

    -webkit-animation: disappear 1s;
    -moz-animation: disappear 1s;
    -o-animation: disappear 1s;
    animation: disappear 1s;
    animation-fill-mode: forwards;
}


@keyframes disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-o-keyframes disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-moz-keyframes disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.lefty {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transform: translateY(100%);
}

.info {
    background-color: white;
    height: 100%;
    z-index: 10;
    margin: 0 !important;
    padding: 0 !important;
}

.social-buttons {

    position: fixed;
    width: 375px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    bottom: 0;
    padding-right: 20px;
    justify-content: center;
}

.social-icons {
    font-size: 30px;
    color: white;
    float: right;

}

.cnHome {
    width: 150px;
}

/* information section below */



.row1{
    background-image: url(unnamed.jpg);
    background-position-y: 0;
    height: 500px;
    background-size:cover;
    margin-top: -100px;
    padding-top: 100px;
    
}

.row2{
    margin-top: -100px;
    margin-bottom: 0;
    height: auto;
}

.row3{
    margin-top: -80px;
}



.syllabus{
    padding-top: 120px;
    font-family: 'Gilroy-Light';
}

.syllabus1{
    margin-top: -170px;
    position: relative;
    font-family: 'Gilroy-Light';
    padding-left: 100px;
    z-index: 5px;
    
}



.col2{
    margin-top: 70px;
}

.col4 {
    max-height: 300px;
}

.col5 {
    max-height: 300px;
}

.col6 {
    height: 300px;
    
}

.banner{
    width: 100%;
    font-size: 600%;
    font-weight: bold;
    font-family: 'Gilroy-Light';
    color: white;
    margin-top: -20px;
    padding-left: 20px;   
}

.banner3{
    margin-top: -90px;
    width: 100%;
    font-size: 400%;
    font-weight: bold;
    font-family: 'Gilroy-Light';
    color: white;
    line-height: 10px;
    
}
#menu2 {
    margin-top: 0px;
}

.keyword{
    color: plum;
}

.variable {
    color: burlywood;
}

a {
    color: white !important;

}

a:hover{
    color: lightgreen !important;
    text-decoration: none !important;
}

.banner2{
    width: 100%;
    font-size: 175%;
    font-family: 'Gilroy-Light';
    color: white;
    margin-top: 0;
    
    
       
}

.notes{
    color: white;
    font-size: 120%;
    font-family: 'Gilroy-Light';
}

.heading{
    top: 0;
    left: 0;
    height: 300px;
    position: fixed;
    background-color: black;
    width: 100%;

}

.tite{
    color: white;
    font-family: 'Gilroy-Light';
    padding-left: 20px;
}

.col1{
    margin-top: 40px;
}

@media only screen and (max-width: 2400px) {
.wrapper{
    height: 2000px;
}

}

@media only screen and (max-width: 768px) {
    svg {
        width: 100%;
        height: 100%;
        padding: 0 0;
    }


    .logOn {
        width: 90%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        color: white;
        margin-top: 50px;
    }

    .header {
        width: 100%;
        margin-top: 0;
    }

    .svgContainer {
        margin-top: 0;
    }

    .wrapper {
        margin-top: 200px;
    }

    .banner{
        width: 100%;
        font-size: 300%;
        font-family: 'Gilroy';
        color: white;
        margin-top: 10px;
    }

    .banner2{
        width: 100%;
        font-size: 150%;
        font-family: 'Gilroy';
        color: white;
        margin-top: 0;
        padding-bottom: 20px;
        
        
    }

    .row1{
        background-image: url(unnamed.jpg);
        background-position-y: -250px;
        background-position-x: -400px;
        height: auto;
        background-size:auto;
        margin-top: -100px;
        padding-top: 20px;
        
    }

    .col1{
        margin-bottom: 60px;
        padding-top: 20px;
    }

    .col2{
        margin-bottom: 30px;
    }
    /*.col1 {
        background-image: url(unnamed.jpg);
        background-position-y: -250px;
        background-position-x: -400px;
        min-height: 300px;
        padding-left: 10px;
        background-size:auto;
        
    }*/
    
    .syllabus{
        padding-top: 0px;
        margin-top: -220px;
        padding-left: 40px;
        padding-right: 20px;
    }

    .numbers{
        opacity: 0.2;
        margin-top: 80px;
        margin-bottom: 10px;
    }

    .numbers2{
        opacity: 0.2;
        margin-bottom: -30px;
        margin-top: -30px;
        margin-left: -50px;
    }
    
    .banner3{
    margin-top: -55px;
    width: 100%;
    font-size: 200%;
    font-weight: bold;
    font-family: 'Gilroy-Light';
    color: white;
    line-height: 10px;
    
}

.banner2{
    margin-top: 150px;
}
.row2{
    
    height: auto;
}

.row3{
    margin-top: -20px;
    margin-left: -10px;
}

.syllabus1{
    margin-top: -150px;
    font-family: 'Gilroy-Light';
    padding-left: 30px;
}
    
}